<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>

<h1> Enter a word to find its paragrams.</h1>
<h2> This is the alteration of a letter or a series of letters in a word. </h2>
<h3> You can also enter numbers </h3>
<br>
<br>

<form action="" method="POST">
    <b>Word/Numbers: </b> <input type="text" name="paragrams" class="input-text">
    <input type="submit" value="Find Paragrams" class="button">
</form>
<!-- Render inner html if params argument was not None -->
{% if params %}
<!-- Accessing params dict's values with params.key -->
<p>There are <b class="count-value"> {{ params.paragrams_count }} </b> Paragrams for "{{ params.word.lower().strip() }}"</p>
<p><b>  In string format: </b></p>
<b> {{ params.paragrams_str}} </b>
<p><b>  In list format: </b></p>
<b> {{ params.paragrams_list }} </b>
{% else %}
<!-- html to render if params argument was None -->
<p>Empty field, enter word first!</p>
{% endif %}
</body>

</html>